body {
font-family: 'Inter', Arial, sans-serif;
font-size: 16px; 
background: url(/images/background.jpg); 
background-attachment: fixed;
background-size: cover;
margin: 0;
}
.header {
 display: flex;
 justify-content: space-around;
 background: lightgreen; 
 color: forestgreen;
 height: 75px;
 overflow: hidden;
 position: fixed;
 top: 0;
 z-index: 1;
 width: 100%;
}
#search input {
 width: 200px; 
 height: 40px; 
 padding: 0 5px;
 box-sizing: border-box;
 border: 2px solid #006400; 
 border-radius: 5px;
 font-family: 'Inter', Arial, sans-serif;
}
#search button {
 padding: 10px; 
 background: forestgreen; 
 color: white; 
 border-radius: 5px; 
 border-color: #006400;
 font-family: 'Inter', Arial, sans-serif;
 font-weight: bold;
}
#search {
 padding: 17.5px 0px;
 padding-right: 15px;
 display: inline-block;
}
#banner-ad {
 height: fit-content;
 padding: 200px 20%;
 background-image: url(/images/new-banner.jpg);
 background-color: rgb(0, 0, 0, 0.6);
 background-blend-mode: darken;
 text-align: center;
}
#banner-message {
 color: white !important;
}
main {
  margin-top: 75px;
}
.center {
 padding: 20px 50px 50px; 
 background: rgb(0, 0, 0, 0.8);
 color: white;
}
#most-popular, #featured-anime, #news-section {
  margin: 0 auto;
  max-width: 1500px;
}
#navigation-bar ul {
 margin-top: 20px;
 font-weight: bold;  
 padding-left: 10px;
 display: flex; 
 list-style-type: none;
}
#navigation-bar ul li {
 text-align: center; 
 box-sizing: border-box; 
 font-size: 24px; 
 padding: 0px 20px;
}
#navigation-bar ul li a, #navigation-bar ul li a:visited {
 color: forestgreen;
 text-decoration: none;
}
#navigation-bar ul li a:hover {
 color: black;
}
a, a:visited, a:hover {
 text-decoration: none;
}
.fa-solid {
 display: none !important;
}
#mp-show-tiles {
 display: flex;
 height: fit-content;
 overflow-x: scroll;
 margin-bottom: 50px;
}
#mp-show-tiles::-webkit-scrollbar {
 height: 5px;
}
#mp-show-tiles::-webkit-scrollbar-track {
 background: lightgreen;
 border-radius: 5px;
}
#mp-show-tiles::-webkit-scrollbar-thumb {
 background: forestgreen;
 border-radius: 5px;
}
.show-tile img {
 width: 25vw;
 margin: 0 5px;
}
#mp-show-tiles img:hover {
 filter: brightness(50%);
}
hr {
 background-color: darkgray;
 height: 2.5px;
}
#suggestions {
 display: grid;
 grid-template-columns: auto 1fr;
 gap: 50px;
 margin: 0 10% 75px;
}
.anime-img img {
 width: 25vw;
}
.anime-description h2 {
 margin-block-start: 0;
}
.anime-description p {
 font-size: 1em;
}
.watch-now-btn, .watch-now-btn:visited {
 color: white; 
 background-color: forestgreen;
 border-radius: 10px; 
 padding: 5px 25px; 
 text-align: center;
 font-weight: bold;
 font-size: 1em;
 display: block;
 width: fit-content;
}
.watch-now-btn:hover {
 color: forestgreen;
 background-color: white;
}

#featured-anime {
 margin-bottom: 50px;
}
#featured-anime img {
 display: block;
 margin: 0 auto;
 max-width: 900px;
}
#featured-anime p {
 font-size: 1.25em;
}
#featured-anime-subsection {
 max-width: 1300px;
 margin: 0 auto;
}
.options {
 text-align: right;
 margin: 50px 0;
}
#top-stories {
 margin: 50px 0;
 display: grid;
 grid-template-columns: auto 1fr;
 row-gap: 20px;
 column-gap: 50px;
}
#more-news-btn {
 display: block;
 margin: 10px 0 10px auto;
 padding: 10px 25px !important;
}
.link {
 color: white; 
 background-color: forestgreen;
 border-radius: 10px; 
 padding: 10px 20px; 
 text-align: center;
 font-weight: bold;
 width: fit-content;
 font-size: 1.25em;
}
.link:visited {
 color: white;
} 
.link:hover {
 background-color: white;
 color: forestgreen;
}


/* News Page Style Section */
.news-link { 
 margin-bottom: 5px;
 color: lightgreen; 
 font-size: 1.5em;
}
/* .news-info p { 
 font-size: 14px;
} */
#news-stories { 
 display: grid; 
 grid-template-columns: auto 1fr; 
 gap: 30px; 
}


@media (max-width: 1475px) {
 #navigation-bar ul li {
  font-size: 24px;
 }
}

@media (max-width: 1200px) {
 .header {
  height: 150px;
 }
 #search {
  position: absolute;
  top: 80px
 }
 #search input {
  width: 400px;
 }
 #search button {
  padding: 10px 20px;
 }
}

@media (max-width: 1250px) {
 #mp-show-tiles {
  grid-template-columns: 1fr;
 }
}

@media screen and (max-width: 900px) {
 .header {
  flex-direction: column;
  height: fit-content;
 }
 #logo-container {
  display: flex;
  justify-content: space-between;
 }
 .fa-solid {
  display: block !important;
  width: fit-content !important;
  margin: auto 30px !important;
  font-size: 30px !important;
 }
 .fa-solid:hover {
  cursor: pointer;
 }
 #navigation-bar, #search {
  display: none;
 }
 #navigation-bar ul {
  flex-direction: column;
  padding-inline-start: 0px;
  margin: 10px 0;
 }
 #navigation-bar ul li {
  padding: 10px 10px;
 }
 #search {
  padding: 20px 0;
  margin: 0 auto;
  position: relative;
  top: 0;
 }
 /* Classes for when menu or search bar is displayed */
 .displayed {
  display: block !important;
 }
}

/* Stylesheet for smartphones */
@media (max-width: 400px) {
 body {
  font-size: 10px;
 }
 main {
  margin-top: 61px;
 }
 #banner-ad {
  padding: 100px 20%;
 }
 #logo {
  width: 200px;
 }
 #search input {
  width: 200px;
 }
 #search button {
  padding: 10px;
 }
 #mp-show-tiles {
  position: absolute;
  left: 10px;
  max-width: 380px;
 }
 .show-tile img {
  width: 35vw;
 }
 #suggestions {
  gap: 10px;
  margin: 250px 0 10px 0 !important;
  grid-template-columns: 1fr;
 }
 .anime-img img {
  width: 75vw;
 }
 .anime-description {
  margin-bottom: 25px;
 }
 #featured-anime img {
  width: 100%;
 }
 .options {
  margin: 3em 0;
 }
 .link {
  padding: 0.5em 20px;
  border-radius: 0.5em;
 }
 #top-stories {
  margin: 2em 0;
  column-gap: 20px;
 }
 .hp-news-img img {
  width: 25vw !important;
 }
}
